<a href="https://colab.research.google.com/github/akitim/comptech-winter-school-2022_covid19-prediction/blob/main/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install httpx

Requirement already satisfied: httpx in /usr/local/lib/python3.7/dist-packages (0.22.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from httpx) (1.2.0)
Requirement already satisfied: httpcore<0.15.0,>=0.14.5 in /usr/local/lib/python3.7/dist-packages (from httpx) (0.14.6)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx) (2021.10.8)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.7/dist-packages (from httpx) (2.0.11)
Requirement already satisfied: rfc3986[idna2008]<2,>=1.3 in /usr/local/lib/python3.7/dist-packages (from httpx) (1.5.0)
Requirement already satisfied: h11<0.13,>=0.11 in /usr/local/lib/python3.7/dist-packages (from httpcore<0.15.0,>=0.14.5->httpx) (0.12.0)
Requirement already satisfied: anyio==3.* in /usr/local/lib/python3.7/dist-packages (from httpcore<0.15.0,>=0.14.5->httpx) (3.5.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from anyio==3.*->httpcore<0.15.0,>=0.14.5->httpx) (3.10.0.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio==3.*->httpcore<0.15.0,>=0.14.5->httpx) (2.10)

In [12]:
import pandas as pd
import itertools
from scipy.signal import savgol_filter
from tqdm.notebook import tqdm
import json
from collections import defaultdict
import pickle
from matplotlib import pyplot as plt
import pickle
import numpy as np
from sklearn.metrics import mean_absolute_percentage_error as mape
import statsmodels.api as sm
from datetime import date, timedelta
import pickle
import httpx
import json
import warnings
# warnings.filterwarnings('ignore')

In [14]:
# def get_df():
# #   import httpx
#   data = httpx.get("https://storage.yandexcloud.net/covid-19/people_structure.csv").content
#   return pd.read_csv(data)

In [22]:
path = "https://storage.yandexcloud.net/covid-19/people_structure.csv"
data = pd.read_csv(path)
data.sample(10)

        Unnamed: 0  ... excess_mortality_cumulative_per_million
36564        37307  ...                                     NaN
140455      144879  ...                                     NaN
19118        19861  ...                                     NaN
50083        52310  ...                                     NaN
10746        11489  ...                                     NaN
43277        44020  ...                                     NaN
78724        81694  ...                                     NaN
125637      130061  ...                                     NaN
110434      114858  ...                                     NaN
130528      134952  ...                                     NaN

[10 rows x 66 columns]

In [24]:
def change_col_name(df):
    df.columns = ['date', 'country', 'new_cases_smoothed', 'fully_vaccinated']
    return df

In [39]:
df =\
(data
 .loc[: , ['date', 'location', 'new_cases_smoothed', 'people_fully_vaccinated']]
 .loc[data['location'] == 'Russia', :]
 .dropna()
 .pipe(change_col_name)
 .assign(date = pd.to_datetime(data['date']).dt.date)
 .reset_index()
 .set_index('date')
 .sort_index(ascending=False)
 .drop('index', axis=1)
)
df

           country  new_cases_smoothed  fully_vaccinated
date
2022-02-01  Russia          105687.571        69967776.0
2022-01-31  Russia           97477.000        69815128.0
2022-01-30  Russia           89119.857        69704859.0
2022-01-29  Russia           80887.143        69581579.0
2022-01-28  Russia           72953.571        69505726.0
...            ...                 ...               ...
2021-03-06  Russia           10945.571         1501746.0
2021-03-05  Russia           11017.000         1393676.0
2021-03-04  Russia           11024.000         1309569.0
2021-03-03  Russia           10996.000         1201919.0
2021-03-02  Russia           11166.429         1091497.0

[295 rows x 3 columns]

0         2020-02-24
1         2020-02-25
2         2020-02-26
3         2020-02-27
4         2020-02-28
             ...
153170    2022-01-29
153171    2022-01-30
153172    2022-01-31
153173    2022-02-01
153174    2022-02-02
Name: date, Length: 153175, dtype: object