<a href="https://colab.research.google.com/github/akitim/comptech-winter-school-2022_covid19-prediction/blob/main/notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
# import

In [3]:
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")
df

       iso_code  ... excess_mortality_cumulative_per_million
0           AFG  ...                                     NaN
1           AFG  ...                                     NaN
2           AFG  ...                                     NaN
3           AFG  ...                                     NaN
4           AFG  ...                                     NaN
...         ...  ...                                     ...
158625      ZWE  ...                                     NaN
158626      ZWE  ...                                     NaN
158627      ZWE  ...                                     NaN
158628      ZWE  ...                                     NaN
158629      ZWE  ...                                     NaN

[158630 rows x 67 columns]

In [5]:
df.columns.to_list()



#  'location',
#  'date',

#  'total_deaths',
#  'icu_patients_per_million',
#  '
#  'hosp_patients_per_million',
#  'weekly_icu_admissions',
#  'weekly_icu_admissions_per_million',
#  'weekly_hosp_admissions',
#  'weekly_hosp_admissions_per_million',
#  'new_tests',
#  'total_tests',
#  'total_tests_per_thousand',
#  'new_tests_per_thousand',
#  'new_tests_smoothed',
#  'new_tests_smoothed_per_thousand',
#  'positive_rate',
#  'tests_per_case',
#  'tests_units',
#  'total_vaccinations',
#  'people_vaccinated',
#  'people_fully_vaccinated',
#  'total_boosters',
#  'new_vaccinations',
#  'new_vaccinations_smoothed',
#  'total_vaccinations_per_hundred',
#  'people_vaccinated_per_hundred',
#  'people_fully_vaccinated_per_hundred',
#  'total_boosters_per_hundred',
#  'new_vaccinations_smoothed_per_million',
#  'new_people_vaccinated_smoothed',
#  'new_people_vaccinated_smoothed_per_hundred',
#  'stringency_index',
#  'population',
#  'population_density',
#  'median_age',
#  'aged_65_older',
#  'aged_70_older',
#  'gdp_per_capita',
#  'extreme_poverty',
#  'cardiovasc_death_rate',
#  'diabetes_prevalence',
#  'female_smokers',
#  'male_smokers',
#  'handwashing_facilities',
#  'hospital_beds_per_thousand',
#  'life_expectancy',
#  'human_development_index',
#  'excess_mortality_cumulative_absolute',
#  'excess_mortality_cumulative',
#  'excess_mortality',
#  'excess_mortality_cumulative_per_million']

['iso_code',
 'continent',
 'location',
 'date',
 'total_cases',
 'new_cases',
 'new_cases_smoothed',
 'total_deaths',
 'new_deaths',
 'new_deaths_smoothed',
 'total_cases_per_million',
 'new_cases_per_million',
 'new_cases_smoothed_per_million',
 'total_deaths_per_million',
 'new_deaths_per_million',
 'new_deaths_smoothed_per_million',
 'reproduction_rate',
 'icu_patients',
 'icu_patients_per_million',
 'hosp_patients',
 'hosp_patients_per_million',
 'weekly_icu_admissions',
 'weekly_icu_admissions_per_million',
 'weekly_hosp_admissions',
 'weekly_hosp_admissions_per_million',
 'new_tests',
 'total_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'positive_rate',
 'tests_per_case',
 'tests_units',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'total_boosters',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'total_boosters_per_hundred',
 'new_vaccinations_smoothed_per_million',
 'new_people_vaccinated_smoothed',
 'new_people_vaccinated_smoothed_per_hundred',
 'stringency_index',
 'population',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index',
 'excess_mortality_cumulative_absolute',
 'excess_mortality_cumulative',
 'excess_mortality',
 'excess_mortality_cumulative_per_million']

In [45]:
ls = ['location',
      'total_vaccinations',
      'people_vaccinated',
      'people_fully_vaccinated',
      'total_boosters',
      'new_vaccinations',
      'new_vaccinations_smoothed',
      'total_vaccinations_per_hundred',
      'people_vaccinated_per_hundred',
      'people_fully_vaccinated_per_hundred',
      'total_boosters_per_hundred',
      'new_vaccinations_smoothed_per_million']

se =\
(df
 .loc[:, ls]
 .dropna()
 .loc[:, ['location']]
 .value_counts()
)
# print([country[0] for country in se.index].to_list())
print(se.index.to_list())

[('World',), ('European Union',), ('Europe',), ('High income',), ('Germany',), ('Switzerland',), ('Latvia',), ('Austria',), ('North America',), ('Upper middle income',), ('Canada',), ('South America',), ('Peru',), ('France',), ('Lithuania',), ('Oceania',), ('Denmark',), ('Uruguay',), ('New Zealand',), ('Norway',), ('South Korea',), ('Asia',), ('Hong Kong',), ('Czechia',), ('Slovenia',), ('Israel',), ('Turkey',), ('Dominican Republic',), ('Lower middle income',), ('Chile',), ('United States',), ('Cambodia',), ('Thailand',), ('Malaysia',), ('Belgium',), ('Italy',), ('Greece',), ('Brazil',), ('Malta',), ('Ireland',), ('United Kingdom',), ('Singapore',), ('Australia',), ('Panama',), ('Bolivia',), ('Ecuador',), ('Africa',), ('Russia',), ('Liechtenstein',), ('Saudi Arabia',), ('Tunisia',), ('Trinidad and Tobago',), ('Azerbaijan',), ('United Arab Emirates',), ('Poland',), ('Portugal',), ('Gibraltar',), ('Luxembourg',), ('Spain',), ('Argentina',), ('Sri Lanka',), ('Bahrain',), ('Guatemala',), ('Lebanon',), ('Cuba',), ('Serbia',), ('Taiwan',), ('Maldives',), ('Mongolia',), ('Montenegro',), ('Curacao',), ('El Salvador',), ('Colombia',), ('India',), ('Japan',), ('Jamaica',), ('Albania',), ('Iran',), ('Isle of Man',), ('North Macedonia',), ('Cyprus',), ('Kenya',), ('Low income',), ('Iceland',), ('South Africa',), ('Finland',), ('Bangladesh',), ('Faeroe Islands',), ('Macao',), ('Sweden',), ('China',), ('Bahamas',), ('Guernsey',)]

In [ ]:
# data_to_db.py
import pandas as pd
from sqlalchemy import create_engine
from envparse import env

env.read_envfile()

engine = create_engine(env("DB"))
df = pd.read_csv("tmp/russia_relations.csv", encoding="utf8").rename(
    columns={
        "Country1": "Main",
        "Ð¡Ñ‚Ñ€Ð°Ð½Ð°": "Country",
        "ÐžÑ‚ÑÑ‚Ð°Ð²Ð°Ð½Ð¸Ðµ/Ð¾Ð¿ÐµÑ€ÐµÐ¶ÐµÐ½Ð¸Ðµ (Ð´Ð½ÐµÐ¹)": "Lag",
        "Ð¡Ñ‚ÐµÐ¿ÐµÐ½ÑŒ ÑƒÐ²ÐµÑ€ÐµÐ½Ð½Ð¾ÑÑ‚Ð¸ (Ð¸Ð· 10)": "degree",
    }
)
df.to_sql("countries", con=engine, index=False, if_exists="replace")