<a href="https://colab.research.google.com/github/akitim/comptech-winter-school-2022_covid19-prediction/blob/main/prepare_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Копия prepare_data в МОЕМ репозитории

In [12]:
import pandas as pd
from pathlib import Path

In [13]:
!git clone https://github.com/comptech-winter-school/covid19-prediction

fatal: destination path 'covid19-prediction' already exists and is not an empty directory.

In [14]:
path = "covid19-prediction"
all_files = Path(path).glob("data*.csv") 

df = pd.concat(map(pd.read_csv, all_files));

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# path = "COVID-19/csse_covid_19_data/csse_covid_19_daily_reports"
# all_files = Path(path).glob("*.csv") 

# df = pd.concat(map(pd.read_csv, all_files))

In [ ]:
df.shape

(2637010, 22)

In [15]:
df.head()

   Unnamed: 0     FIPS     Admin2  ... Last Update Latitude Longitude
0           0  45001.0  Abbeville  ...         NaN      NaN       NaN
1           1  22001.0     Acadia  ...         NaN      NaN       NaN
2           2  51001.0   Accomack  ...         NaN      NaN       NaN
3           3  16001.0        Ada  ...         NaN      NaN       NaN
4           4  19001.0      Adair  ...         NaN      NaN       NaN

[5 rows x 22 columns]

In [16]:
def merge_columns(f1, f2, df):
    d = df.loc[:, [f1, f2]].copy().reset_index()
    d.loc[d[f1].isna(), f1] = d.loc[d[f1].isna(), f2]
    return d[f1]

In [17]:
# убираем страны c подтвержденными случаями < 10^5
def remove_small_countries(df):
    countries = df.groupby("Country_Region").last().query('Confirmed > 100000').index.to_list()
    return df[df.Country_Region.isin(countries)]

In [18]:
def report_shape(df):
    print(df.shape)
    return df

In [21]:
!mkdir tmp
data=(df
 .assign(Country_Region = merge_columns("Country_Region", "Country/Region", df))
 .assign(Last_Update = merge_columns("Last_Update", "Last Update", df))
 .assign(Last_Update = pd.to_datetime(df["Last_Update"]).dt.date)
 .loc[:, ["Country_Region", "Last_Update", "Confirmed"]]
#  .assign(New_Cases = df['']("Last_Update", "Last Update", df))
 .dropna()
 .groupby(["Country_Region", "Last_Update"])
 .sum()
 .reset_index()
 .set_index("Last_Update")
#  .sort_index()
#  .pipe(remove_small_countries)
#  .pipe(report_shape)
#  .to_parquet("tmp/data.parquet")
)

mkdir: cannot create directory ‘tmp’: File exists

In [25]:
# display(data)
temp_df = pd.Dataframe()
for country in data['Country_Region'].unique():
    temp_df = data.loc[data['Country_Region'] == country, :]
    temp_df['New_Cases'] = (temp_df['Confirmed'] - temp_df['Confirmed'].shift(1)).dropna()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cruise Ship', 'Cuba', 'Cyprus',
       'Czech Republic', 'Czechia', 'Denmark', 'Diamond Princess',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, South',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'MS Zaandam', 'Macau', 'Madagascar',
       'Mainland China', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
       'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Micronesia', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Others',
       'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of the Congo', 'Reunion',
       'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Summer Olympics 2020', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan', 'Taiwan*', 'Tajikistan', 'Tanzania', 'Thailand',
       'The Bahamas', 'The Gambia', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'UK', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe',
       'occupied Palestinian territory'], dtype=object)

In [ ]:
def df_nans_calc(df):
    valid_se = (~df.isna()).sum(axis=0)
    df_nans = pd.concat([valid_se, df.shape[0] - valid_se], axis=1)
    df_nans.columns = ['valid', 'NaNs']
    return df_nans

df_nans_calc(data)

                       valid     NaNs
Unnamed: 0           2637010        0
FIPS                 2163669   473341
Admin2               2167116   469894
Province_State       2510659   126351
Country_Region       2637010        0
Last_Update          2637010        0
Lat                  2571664    65346
Long_                2571664    65346
Confirmed            2636982       28
Deaths               2636576      434
Recovered            1449834  1187176
Active               1441276  1195734
Combined_Key         2628068     8942
Incidence_Rate        628375  2008635
Case-Fatality_Ratio   631860  2005150
Incident_Rate        1729940   907070
Case_Fatality_Ratio  1750049   886961
Province/State          5501  2631509
Country/Region          8942  2628068
Last Update             8942  2628068
Latitude                5219  2631791
Longitude               5219  2631791

In [ ]:
df['Country_Region'] = merge_columns('Country_Region', 'Country/Region', df).isna().sum()
pd.isna(df['Country_Region']).sum()

0